{% extends 'base.html' %}
{% block title %} location page {% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-6">
            <h3 class="text-primary"> <u>ELSA delivered </u></h3>
            <h5>Pay on delivery</h5>
            <h5>7 Days Replacement</h5>
            <h5>Free Delivery</h5>
        </div>
        <div class="col-6">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d126262.25973795794!2d76.9385919929285!3d8.528902974685485!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b05b903d4957a2d%3A0x9f6e3fb324a244fa!2sZudio%20-%20Trivandrum!5e0!3m2!1sen!2sin!4v1703603919198!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>"
        </div>
    </div>
</div>
<style>





{% endblock %}